<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
		<link rel="stylesheet" type="text/css" href="../static/media.css">
		{% if settings['theme']['value'] == 'dark' %}
		<link rel="stylesheet" type="text/css" href="../static/dark.css">
		{% endif %}
		{% if settings['size']['value'] == 'large' %}
		<link rel="stylesheet" type="text/css" href="../static/large-font.css">
		{% endif %}
		<link rel="icon" type="image/x-icon" href="../static/icons/double_arrow.svg">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<script src="../static/chat.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body tabindex="-1">
	    <div class="header">
			PORTAL MESSENGER
		    <a href="/stations"><span class="icon icon-back icon-back-chat">&nbsp;</span></a>
		    <span class="icon icon-vertical-ellipsis">&nbsp;</span>
		</div>
        <div class="menu-container"><div class="menu">
            <div class="menu-item" value=" MSG [text]">Inbox Message</div>
            <div class="menu-item" value=" MSG TO:[callsign] [text]">Store Inbox Message</div>
            <div class="menu-item" value=" QUERY MSGS?">Query Messages</div>
            <div class="menu-item" value=" QUERY MSG [ID]">Query Message ID</div>
            <div class="menu-item" value=" SNR?">Query SNR</div>
            <div class="menu-item" value=" HEARING?">Query Hearing</div>
            <div class="menu-item" value=" QUERY CALL [callsign]">Query Callsign</div>
            <div class="menu-item" value=" GRID?">Query Grid Square</div>
            <div class="menu-item" value=" INFO?">Query Info</div>
            <div class="menu-item" value=" STATUS?">Query Status</div>
        </div></div>
		<div class="details chat-details">
			<div class="presence-indicator presence-unknown">&nbsp;</div>
			<div class="chat-name">{{ user }}</div>
			<div class="last-heard">&nbsp;</div>
		</div>
		<div class="viewport">
            <div class="content chat-messages">

                <!-- hidden original for cloning -->
				<div class="original-hidden"><div class="chat-bubble">
					<div class="chat-msg">&nbsp;</div>
					<div class="chat-time">&nbsp;</div>
				</div><div class="chat-status">&nbsp;</div></div>

			</div>
		</div>
		<div class="footer">
			<form id="chat-text-form">
				<input type="text" id="chat-text" placeholder="Type a message here..." autofocus autocomplete="off"/>
				<button type="submit" id="chat-send-button">Send</button>
			</form>
		</div>

    </body>
	<script>
        $('.menu').hide();
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        //socket.on('connect', function() {
        //    socket.emit('log', {msg: 'Connected to socket'});
        //});

        $('span.icon-list').parent().attr('href', '/stations' + window.location.search.substring(0))

        socket.on('msg', function( msgs ) {
			msgs.forEach(function ( msg ) {
				newChatMessage(msg)
			});

			// sort first loading msgs
			if (msgs.length > 1) {
				sortChat();
			}

			scrollChat();
        });

		socket.on('update-tx-status', function ( data ) {
			setTxStatus(data.id, data.status);
		});

		socket.on('heard-user', function ( last_heard ) {
			setLastHeard(last_heard);
		});

		$('#chat-text-form').submit(function( event ){
			event.preventDefault();
			socket.emit('msg', {user: $('.chat-name').html(), text: $('#chat-text').val()})
			$('#chat-text').val('');
		});

		$(window).on('load', function(){
			socket.emit('init-chat');
			socket.emit('heard-user', {user: $('.chat-name').html()});
		});

		// hide menu when clicking off menu
		$(document).on('click', function(event) {
			if ( !$(event.target).hasClass('icon-vertical-ellipsis') && !$(event.target).hasClass('menu')  && !$(event.target).hasClass('menu-item')){
				$('.menu').slideUp();
			}
		});

		$('.icon-vertical-ellipsis').click(function (){
			$('.menu').slideToggle();
		});

		$('.menu-item').click(function (){
			$('#chat-text-form').attr('data-cmd', true);
			$('#chat-text').val( $(this).attr('value') );
			$('.menu').slideUp();
			$('#chat-text').focus();
		});

		setInterval(function (){
			setLastHeard( parseInt( $('.last-heard').attr('data-last-heard') ) );
		}, 1000 * 60);
	</script>
</html>
