<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
		<link rel="stylesheet" type="text/css" href="../static/media.css">
		{% if settings['theme']['value'] == 'dark' %}
		<link rel="stylesheet" type="text/css" href="../static/dark.css">
		{% endif %}
		{% if settings['size']['value'] == 'large' %}
		<link rel="stylesheet" type="text/css" href="../static/large-font.css">
		{% endif %}
		<link rel="icon" type="image/x-icon" href="../static/icons/double_arrow.svg">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<script src="../static/network.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body tabindex="-1">
        <div class="header">
            PORTAL MESSENGER
            <span class="icon icon-hamburger">&nbsp;</span>
		</div>
		
        <div class='menu-container'><div class="menu">
            <a href="/stations"><div class="menu-item">Activity</div></a>
            <a href="/network"><div class="menu-item">Network</div></a>
            <a href="/propagation"><div class="menu-item">Propagation Map</div></a>
            <a href="/settings"><div class="menu-item">Settings</div></a>
            <a href="/quit"><div class="menu-item">Close Portal</div></a>
        </div></div>
		
        <div class="details">
            <div class="details-name">Network</div>
        </div>
        <div class="viewport">
            <div class="content" data-aging="{{ settings['aging']['value'] }}">
				
				<div class="initial-text center">
					<br>
					<br>
					No network activity yet...
				</div>
				
                <!-- hidden element for cloning -->
                <div class="station station-network original-hidden">
                    <div class="chat-name">&nbsp;</div>
                    <div class="last-heard">&nbsp;</div>
                    <div class="icon-dropdown">&nbsp;</div>
                    <div class="station-details">
                        <table>
                            <tr>
                                <td><b>Grid:</b>&nbsp;<span class="grid">&nbsp;</span>&nbsp;<span class="distance">&nbsp;</span></td>
                                <td><b>SNR:</b>&nbsp;<span class="snr">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><b>Last Heard:</b>&nbsp;<span class="time-str">&nbsp;</span></td>
                                <td><b>Speed:</b>&nbsp;<span class="speed">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Hearing:</b>&nbsp;<span class="hearing">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Heard By:</b>&nbsp;<span class="heard-by">&nbsp;</span></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">&nbsp;</div>

    </body>
    <script>
        $('.menu').hide();
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('spot', function( data ) {
            socket.emit('network');
        });

        socket.on('conversation', function( data ) {
            socket.emit('network');
        });

        socket.on('network', function( data ) {
            if ( data.length > 0 ) {
			    $('.initial-text').hide();
            }
            data.forEach(function( station ) {
                handleStation(station);
            });
            sortStations();
        });

        $(window).on('load', function(){
            // request station network data from the server
            socket.emit('network');

            $('.icon-hamburger').click(function(){
                $('.menu').slideToggle();
            });
        });
		
        // hide menu when clicking off menu
        $(document).on('click', function(event) {
            if ( !$(event.target).hasClass('icon-hamburger') && !$(event.target).hasClass('menu')  && !$(event.target).hasClass('menu-item')){
                $('.menu').slideUp();
            }
        });

        // update last heard text and presence
        setInterval(function() {
            $('.station').not('.original-hidden').each(function() {
                username = $(this).attr('name');
                timestamp = parseInt( $(this).find('.last-heard').attr('data-last-heard') );

                // cull network activity older than aging setting
                now = new Date();
                then = new Date( timestamp * 1000 );
                lastHeardMinutes = Math.floor( ((now - then) / 1000) / 60 );

                if ( lastHeardMinutes >= parseInt( $('.content').attr('data-aging') ) ) {
                    $(this).remove();
                    // continue with next iteration
                    return true;
                }

                setLastHeard(username, timestamp);
            });
        }, 1000 * 60);

        // reconnect socketio when tab gets focus again
        document.addEventListener('visibilitychange', function() {
            if (document.visibilityState === 'visibile') {
                if (socket && socket.disconnected) {
                    socket.connect();
                    // update network activity
                    socket.emit('network');
                }
            }
        });
    </script>
</html>

