<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
		<link rel="stylesheet" type="text/css" href="../static/media.css">
		{% if settings['theme']['value'] == 'dark' %}
		<link rel="stylesheet" type="text/css" href="../static/dark.css">
		{% endif %}
		{% if settings['size']['value'] == 'large' %}
		<link rel="stylesheet" type="text/css" href="../static/large-font.css">
		{% endif %}
		<link rel="icon" type="image/x-icon" href="../static/icons/double_arrow.svg">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    </head>
    <body tabindex="-1">
        <div class="header">
            PORTAL MESSENGER
            <span class="icon icon-hamburger">&nbsp;</span>
		</div>
		
        <div class='menu-container'><div class="menu">
            <a href="/stations"><div class="menu-item">Activity</div></a>
            <a href="/network"><div class="menu-item">Network</div></a>
            <a href="/propagation"><div class="menu-item">Propagation Map</div></a>
            <a href="/settings"><div class="menu-item">Settings</div></a>
            <a href="/quit"><div class="menu-item">Close Portal</div></a>
        </div></div>
		
        <div class="details">
            <div class="details-name">Propagation Map</div>
        </div>
        <div id="map" class="viewport">
            <div class="content">
				<br><br>
				<div class="initial-text center">
					Loading propagation map...
				</div>
            </div>
        </div>
        <div class="footer">&nbsp;</div>

    </body>
    <script>
        $('.menu').hide()
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var map;
        var heatLayer;


        //TODO test code
        var propData = null;
        var numSets = 100;
        function simulatePropagationData(numDatasets) {
            // Define bounds for continental USA
            const latMin = 24.396308;
            const latMax = 49.384358;
            const lonMin = -125.0;
            const lonMax = -66.93457;
        
            // Function to generate a random number within a range
            const randomInRange = (min, max) => Math.random() * (max - min) + min;
        
            // Generate random datasets
            const datasets = [];
            for (let i = 0; i < numDatasets; i++) {
                const latitude = randomInRange(latMin, latMax);
                const longitude = randomInRange(lonMin, lonMax);
                const snr = Math.floor(randomInRange(-20, 21)); // Integer between -20 and +20
        
                datasets.push([latitude, longitude, snr]);
            }
        
            return datasets;
        }

        
        
        socket.on('propagation-data', function( data ) {
    		$('.initial-text').hide();

            if ( !map ) {
                // center map view on station location (or Washington D.C. USA if station grid not set)
		        map = L.map('map').setView(data['station'], 4);
            
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© OpenStreetMap contributors',
                }).addTo(map);
            }

            // remove existing heat map layer
            if ( heatLayer ) {
                map.removeLayer(heatLayer)
            }

            
            //TODO test code
            if ( window.location.search.substring(1) == 'test' ) {
                data = { propagation: simulatePropagationData(numSets) };
                propData = data;
            }

            
            // normalize bottom end of SNR range from -28 to 0, avoid negative numbers
            // JS8Call slow speed results in minimum decode SNR is -28dB
            normalizedData = data['propagation'].map(function (point) {
                return [point[0], point[1], point[2] + 28]
            });

            // create heat map layer using normalized grid square median SNR
            // gradient weighted to middle of range, max based on 0dB as high snr, plus 28 for normalization
            // heat map point radius adjusted dynamically based on number of points, to improve point visibility
            dynamicRadius = (-0.2 * normalizedData.length) + 76
            heatLayer = L.heatLayer(normalizedData, {
                radius: dynamicRadius,
                gradient: {0.1: 'blue', 0.2: 'cyan', 0.3: 'lime', 0.5: 'yellow', 0.7:'red'},
                max: 28
            }).addTo(map);
		});
        
        $(window).on('load', function(){
            $('.icon-hamburger').click(function(){
                $('.menu').slideToggle();
            });

            // request propagation data
            socket.emit('propagation-data');
        });
		
        // hide menu when clicking off menu
        $(document).on('click', function(event) {
            if ( !$(event.target).hasClass('icon-hamburger') && !$(event.target).hasClass('menu')  && !$(event.target).hasClass('menu-item')){
                $('.menu').slideUp();
            }
        });

        // request updated propagation data every 5 minutes
        setInterval(function () {
            socket.emit('propagation-data');
        }, 300000);
    </script>
</html>
