<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
		<link rel="stylesheet" type="text/css" href="../static/media.css">
		{% if settings['theme']['value'] == 'dark' %}
		<link rel="stylesheet" type="text/css" href="../static/dark.css">
		{% endif %}
		{% if settings['size']['value'] == 'large' %}
		<link rel="stylesheet" type="text/css" href="../static/large-font.css">
		{% endif %}
		<link rel="icon" type="image/x-icon" href="../static/icons/portalmessenger.png">
		<script src="../static/common.js"></script>
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body tabindex="-1">
	    <div class="header">
		    PORTAL MESSENGER
            <span class="icon icon-hamburger">&nbsp;</span>
		</div>
		
        <div class='menu-container'><div class="menu">
            <a href="/stations"><div class="menu-item">Activity</div></a>
            <a href="/network"><div class="menu-item">Network</div></a>
            <a href="/propagation"><div class="menu-item">Propagation Map</div></a>
            <a href="/settings"><div class="menu-item">Settings</div></a>
            <a href="/quit"><div class="menu-item">Close Portal</div></a>
        </div></div>
		
		<div class="details">
			<div class="details-name">Settings&nbsp;&nbsp;&nbsp;(Server IP: {{ ip }})</div>
		</div>
		<div class="viewport">
			<div class="content">
                <div class="settings-status-success">Settings updated successfully</div>
                <div class="settings-status-restart">JS8Call restarting... <span class="icon icon-loading">&nbsp;</span> </div>
                <div class="settings-status-error">Error, see details below...</div>
                
				<br/>
			    <form id="settings-form" action="/settings" method="post" data-status="{{ status }}">

                {% for setting, data in settings.items() %}
                    {% if not data['display'] %}
                        {% continue %}
                    {% endif %}
				<div class="setting-row">
                    <label for="{{ setting }}">{{ data['label'] }}</label>
                    {% if data['options'] == None %}
                    <input type="text" id="{{ setting }}" name="{{ setting }}" value="{{ data['value'] }}"
                    {% if data['required'] and data['value'] == '' %} class="required" {% endif %}>
                    {% else %}
				    <select type="text" id="{{ setting }}" name="{{ setting }}">
                        {% for option in data['options'] %}
					    <option value="{{ option }}" {% if option == data['value'] %} selected {% endif %}>
                            {{ option[0]|upper }}{{ option[1:] }}
                        </option>
                        {% endfor %}
                    </select>
                    {% endif %}

                {% if 'error' in data.keys() and data['error'] != None %}
                <div class="error">{{ data['error'] }}</div>
                {% endif %}

                </div>
                {% endfor %}
			    </form>

		    </div>
		</div>
		<div class="footer">
			<form><button type="submit" id="save-button">Save Settings</button></form>
		</div>

    </body>
	<script>
        $('.menu').hide();
		var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('restart-complete', function (){
            // js8call restart complete, indicate success
            $('.settings-status-restart').hide();
            $('.settings-status-success').show();
            // hide success message after 10 seconds
            setTimeout(function(){
                $('.settings-status-success').hide();
            }, 1000 * 10);
        });

        $(window).on('load', function(){
            $('#save-button').click(function() {
                event.preventDefault();
                $('#settings-form').submit()
            });

            $('.icon-hamburger').click(function(){
                $('.menu').slideToggle();
            });

            var settings_status = $('#settings-form').attr('data-status')
            if ( settings_status == 'success' ) {
                $('.settings-status-success').show();
                // hide success message after 10 seconds
                setTimeout(function(){
                    $('.settings-status-success').hide();
                }, 1000 * 10);
            }
            else if ( settings_status == 'restart' ) {
                $('.settings-status-restart').show();
            }
            else if ( settings_status == 'error' ) {
                $('.settings-status-error').show();
            }
            // if settings_status == 'view' do nothing
        });
		
        // hide menu when clicking off menu
        $(document).on('click', function(event) {
            if ( !$(event.target).hasClass('icon-hamburger') && !$(event.target).hasClass('menu')  && !$(event.target).hasClass('menu-item') ){
                $('.menu').slideUp();
            }
        });

	</script>
</html>
