/* mobile */
@media screen and (min-width: 350px) {
    html {
        height: 100%;
        width: 100%;
        position: fixed;
    }
	body {
        height: 100%;
		width: 100%;
		margin: 0px;
		overflow: hidden;
	}
	.header {
		margin-top: 0px;
		border-radius: 0px;
	}
	.footer {
		border-radius: 0px;
		padding: 25px 10px 25px 10px;
	}
	.chat-time, .last-heard {
		font-size: var(--normal-font-size);
	}
	.viewport {
		height: calc(100vh - 212px - (100vh - 100%));
	}
	.content {
		max-height: calc(100vh - (100vh - 100%));
	}
}


/* desktop and laptop */
/* min-height forces raspberry pi 7-inch display to render as mobile */
@media screen and (min-width: 700px) and (min-height: 750px) {
	body {
		max-width: 700px;
		margin: auto;
		margin-top: 20px;
		overflow: hidden;
	}
	.header {
		margin-top: 10px;
		border-radius: 10px 10px 0px 0px;
	}
	.footer {
		border-radius: 0px 0px 10px 10px;
		padding: 35px 25px 35px 25px;
	}
	.conversation {
		padding: 10px 15px 10px 15px;
	}
	.chat-time, .last-heard {
		font-size: var(--small-font-size);
	}
	.viewport {
		height: 500px;
	}
	.content {
		max-height: 500px;
		padding-left: 15px;
	}
    .icon-hamburger {
        top: 10px;
        right: 17px;
    }
    .icon-vertical-ellipsis {
        top: 10px;
        right: 17px;
    }
    .menu {
        top: -17px;
        right: 24px;
    }
}

