:root{
	--primary-color: #cfd8dc;
	--secondary-color: #9ea7aa;
	--tertiary-color: #fafafa;

	--outgoing-chat-color: var(--primary-color);
	--incoming-chat-color: var(--tertiary-color);

    --small-font-size: 0.875em;
    --normal-font-size: 1em;
    --large-font-size: 1.125em;
    --heading-font-size: 1.375em;
    --title-font-size: 1.5em;
}

body {
	font-family: sans-serif;
	color: #333;
	width: 30%;
	margin: 20px 0px 0px 20px;
    font-size: 100%;
}

.header {
	font-size: var(--title-font-size);
	font-weight: bold;
	border: 2px solid var(--primary-color);
	padding: 15px;
	background-color: var(--primary-color);
	border-radius: 10px 10px 0px 0px;
	margin-top: 10px;
	position: relative;
}

.icon {
	display: inline-block;
	height: 45px;
	width: 45px;
	cursor: pointer;
	mask-size: cover;
	background: var(--secondary-color);
}

.icon:hover {
	background: var(--tertiary-color);
}

.icon-settings {
	-webkit-mask-image: url('icons/gear-hollow.svg');
	float: right;
	margin-left: 15px;
}

.icon-chat {
	-webkit-mask-image: url('icons/chat-hollow.svg');
}

.icon-dropdown {
	-webkit-mask-image: url('icons/dropdown-arrow.svg');
    display: inline-block;
}

.icon-list {
	-webkit-mask-image: url('icons/list-hollow.svg');
	float: right;
	margin-left: 15px;
}

/*NEW menu code*/
.icon-hamburger {
	position: absolute;
	display: block;
	-webkit-mask-image: url('icons/hamburger.svg');
	width: 45px;
	top: 5px;
	right: 12px
}

/*NEW menu code*/
.icon-vertical-ellipsis {
	position: absolute;
	display: block;
	-webkit-mask-image: url('icons/vertical-ellipsis.svg');
	width: 45px;
	top: 5px;
	right: 12px
}

/*NEW menu code*/
.icon-back {
	position: absolute;
	display: block;
	-webkit-mask-image: url('icons/arrow-left.svg');
	width: 45px;
	top: 5px;
	right: 12px
}

.icon-back-chat {
    right: 65px;
}

.icon-power {
	-webkit-mask-image: url('icons/power.svg');
	float: right;
	margin-right: 5px;
}

.power-on, .power-on:hover {
	background: #43a047;
}

.power-off, .power-off:hover {
	background: #b0120a;
}

.power-pending, .power-pending:hover {
	background: #FFFF66;
}

.power-on:active, .power-off:active {
	background: var(--tertiary-color);
}

.icon-refresh {
	-webkit-mask-image: url('icons/refresh.svg');
}

.icon-add {
	-webkit-mask-image: url('icons/add-solid.svg');
}

.encrypted-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	mask-size: cover;
	background: var(--secondary-color);
	-webkit-mask-image: url('icons/lock-small.svg');
}

/*NEW menu code*/
.menu-container {
	position: relative;
}

/*NEW menu code*/
.menu {
	position: absolute;
	z-index: 2;
	top: -13px;
	right: 16px;
	padding: 15px;
	background-color: var(--secondary-color);
	border-radius: 10px 0px 10px 10px;
	border: 1px solid var(--primary-color);
	width: 275px;
}

/*NEW menu code*/
.menu-item:hover, .menu-item:active {
	background-color: var(--tertiary-color);
}

/*NEW menu code*/
.menu-item {
	font-size: var(--heading-font-size);
	cursor: pointer;
	padding: 10px 15px 10px 25px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 5px;
}

/*NEW menu code*/
.menu a:link, .menu a:active, .menu a:hover, .menu a:visited {
	text-decoration: none;
}

/*NEW menu code*/
.menu-item-sub {
	padding-left: 50px;
	font-size: var(--normal-font-size);
}

.chat-msg-tx .encrypted-icon {
    margin-left: 10px;
}

.chat-msg-rx .encrypted-icon {
    margin-right: 10px;
}

.presence-indicator {
    float: left;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	margin-right: 10px;
    position: relative;
    top: 2px;
	border: 1px solid var(--secondary-color);
}

.station:hover, .station:focus {
	border-color: var(--primary-color);
}

.station .presence-indicator {
	margin-top: 1px;
}

.presence-active {
	background-color: #43a047;
}

.presence-inactive {
	background-color: #FFFF66;
}

.presence-unknown {
	background-color: #FFFFFF;
}

.details {
	border: 2px solid var(--primary-color);
	padding: 10px 15px 10px 15px;
	background-color: var(--primary-color);
}

.chat-details {
	padding-bottom: 15px;
}

.details-name, .chat-name {
	font-size: var(--heading-font-size);
	display: inline-block;
}

.selected {
	font-weight: bold;
	border-color: var(--secondary-color);
}

.last-heard {
	display: inline-block;
	font-size: var(--small-font-size);
	float: right;
	padding-top: 4px;
}

.tab-container {
	padding-bottom: 0px;
	border: none;
}

.tab {
	border: 2px solid var(--primary-color);
	border-radius: 5px 5px 0px 0px;
	background-color: var(--secondary-color);
	padding: 7px 15px 3px 15px;
	margin-right: 5px;
	cursor: pointer;
	text-align: center;
}

#tab-activity {
	width: 80px;
}

#unread-count {
	margin-left: 5px;
	display: none;
}

/*https://jsfiddle.net/ajiths4u/u9dzyvct/*/
.viewport {
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	overflow: none;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.content {
	padding-right: 10px;
	padding-left: 10px;
	width: 96%;
	max-height: 500px;
	position: absolute;
	overflow: auto;
}

.chat-messages {
	bottom: 0px;
}

.chat-msg-rx {
	width: fit-content;
	max-width: 75%;
	margin-top: 15px;
	margin-bottom: 15px;
    word-wrap: break-word;
}

.chat-msg-tx {
	width: fit-content;
	max-width: 75%;
	/*float: right;*/
	margin-left: auto;
	margin-right: 0px;
	margin-bottom: 15px;
    word-wrap: break-word;
}

.chat-bubble {
	border-radius: 5px;
	clear: both;
}

.chat-msg-tx .chat-bubble {
	background-color: var(--outgoing-chat-color);
}

.chat-msg-rx .chat-bubble {
	background-color: var(--incoming-chat-color);
}

.chat-msg {
	font-size: var(--large-font-size);
	padding: 10px 15px 0px 15px;
	text-align: justify;
	text-justify: inter-word;
}

.chat-time {
	font-size: var(--small-font-size);
	padding: 2px 15px 10px 15px;
	color: #555;
}

.chat-msg-tx .chat-time {
	text-align: right;
}

.chat-status {
	font-size: var(--small-font-size);
	text-align: right;
	margin-right: 5px;
	color: var(--primary-color);
	clear: both;
}

.station {
	background-color: var(--tertiary-color);
	border: 2px solid var(--tertiary-color);
	border-radius: 5px;
	margin: 15px 5px 15px 5px;
	padding: 10px 15px 10px 15px;
	color: black; 
	cursor: pointer;
}

.unread {
	font-weight: bold;
}

.setting-row {
	display: table-row;
}

.setting-row label, .setting-row input, .setting-row select {
	display: table-cell;
	margin: 10px;
	font-size: var(--large-font-size);
}

.setting-row label {
	padding-left: 10px;
	padding-right: 15px;
    color: black;
}

.setting-row input, .setting-row select {
	background-color: var(--tertiary-color);
	border-width: 0px;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
}

.setting-row input {
    width: 155px;
}

.setting-row select {
    width: 175px;
}

input.required {
    background-color: #f9bdbb;
}

.error {
    color: #b0120a;
	padding-left: 10px;
}

.footer {
	border: 2px solid var(--primary-color);
	padding: 15px;
	background-color: var(--primary-color);
	border-radius: 0px 0px 15px 15px;
	text-align: center;
	min-height: 42px;
}

#new-conversation-form {
	display: none;
}

#chat-text, #new-conversation {
	width: 70%;
	padding: 5px;
	font-size: var(--large-font-size);
	background-color: var(--tertiary-color);
}

input {
	margin-right: 15px;
}

button {
	padding: 9px;
	font-size: var(--large-font-size);
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid var(--secondary-color);
}

#save-button {
	margin-left: 50px;
}

.original-hidden {
	display: none;
}

