
:root{
	--primary-color: #cfd8dc;
	--secondary-color: #9ea7aa;
	--tertiary-color: #fafafa;
/*
		--primary-color: #29434e;
		--secondary-color: #90a4ae;
		--tertiary-color: #cfd8dc;
*/
	--outgoing-chat-color: var(--primary-color);
	--incoming-chat-color: var(--tertiary-color);
}

body {
	font-family: sans-serif;
	width: 30%;
	margin: 20px 0px 0px 20px;
}

.header {
	font-size: 24px;
	font-weight: bold;
	border: 2px solid var(--primary-color);
	padding: 15px;
	background-color: var(--primary-color);
	border-radius: 15px 15px 0px 0px;
	margin-top: 10px;
	position: relative;
}

.icon {
	float: right;
	height: 40px;
	width: 40px;
	cursor: pointer;
	margin-left: 15px;
}

.icon-settings {
	background: url('icons/gear-hollow.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-settings:hover {
	background: url('icons/gear-solid.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-chat {
	background: url('icons/chat-hollow.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-chat:hover {
	background: url('icons/chat-solid.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-list {
	background: url('icons/list-hollow.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-list:hover {
	background: url('icons/list-solid.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-back {
	background: url('icons/arrow-left.svg');
       	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.icon-back:hover {
	height: 50px;
	width: 50px;
}

.details {
	border: 2px solid var(--primary-color);
	padding: 10px 15px 10px 15px;
	background-color: var(--primary-color);
}

.presence-indicator {
    float: left;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
    position: relative;
    top: 2px;
}

.conversation .presence-indicator {
}

.presence-active {
	background-color: #43a047;
}

.presence-inactive {
	background-color: #FFFF66;
}

.presence-unknown {
	background-color: #FFFFFF;
}

.details-name, .chat-name {
	font-size: 22px;
	display: inline-block;
}

.last-heard {
	display: inline-block;
	font-size: 14px;
	float: right;
	padding-top: 4px;
}

/*https://jsfiddle.net/ajiths4u/u9dzyvct/*/
.viewport {
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	overflow: none;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.content {
	padding-right: 10px;
	padding-left: 10px;
	width: 96%;
	max-height: 500px;
	position: absolute;
	overflow: auto;
}

.chat-messages {
	bottom: 0px;
}

.chat-msg-rx {
	width: fit-content;
	max-width: 75%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.chat-msg-tx {
	width: fit-content;
	max-width: 75%;
	float: right;
	margin-bottom: 15px;
}

.chat-bubble {
	border-radius: 15px;
	clear: both;
}

.chat-msg-tx .chat-bubble {
	background-color: var(--outgoing-chat-color);
}

.chat-msg-rx .chat-bubble {
	background-color: var(--incoming-chat-color);
}

.chat-msg {
	font-size: 18px;
	padding: 10px 15px 0px 15px;
	text-align: justify;
	text-justify: inter-word;
}

.chat-time {
	font-size: 14px;
	padding: 2px 15px 10px 15px;
	color: #555;
}

.chat-msg-tx .chat-time {
	text-align: right;
}

.chat-status {
	font-size: 14px;
	text-align: right;
	margin-right: 15px;
	color: #777;
	clear: both;
}

.conversation {
	background-color: var(--tertiary-color);
	border-radius: 15px;
	margin: 15px 5px 15px 5px;
	padding: 10px 15px 10px 15px;
	color: black; 
	cursor: pointer;
}

.conversation .presence-indicator {
	border: 2px solid var(--secondary-color);
}

.unread {
	font-weight: bold;
}

.pinned {
	border: 5px solid #444444;
}

.setting-row {
	display: table-row;
}

.setting-row label, .setting-row input, .setting-row select {
	display: table-cell;
	margin: 10px;
	font-size: 18px;
}

.setting-row label {
	padding-left: 10px;
	padding-right: 10px;
}

.footer {
	border: 2px solid var(--primary-color);
	padding: 25px;
	background-color: var(--primary-color);
	border-radius: 0px 0px 15px 15px;
	text-align: center;
	min-height: 42px;
}

#chat-text {
	width: 75%;
	padding: 5px;
	font-size: 18px;
}

button {
	padding: 6px;
	font-size: 18px;
	margin-left: 7px;
	cursor: pointer;
}

#chat-send-button {
	margin-left: 7px;
}

.original-hidden {
	display: none;
}

@media screen and (min-width: 350px) {
	body {
		width: 100%;
		margin: 0px;
		overflow: hidden;
	}
	.header {
		margin-top: 0px;
		border-radius: 0px;
	}
	.footer {
		border-radius: 0px;
		padding: 25px 10px 25px 10px;
	}
	.chat-time, .last-heard {
		font-size: 16px;
	}
	.viewport {
		height: calc(100vh - 269px);
	}
	.content{
		max-height: calc(100vh - 269px);
	}
}

@media screen and (min-width: 700px) {
	body {
		max-width: 700px;
		margin: auto;
		margin-top: 20px;
		overflow: hidden;
	}
	.header {
		margin-top: 10px;
		border-radius: 15px 15px 0px 0px;
	}
	.footer {
		border-radius: 0px 0px 15px 15px;
		padding: 35px 25px 35px 25px;
	}
	.conversation {
		padding: 10px 15px 10px 15px;
	}
	.chat-time, .last-heard {
		font-size: 14px;
	}
	.viewport {
		height: 500px;
	}
	.content{
		max-height: 500px;
		padding-left: 15px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #29434e;
		--secondary-color: #90a4ae;
		--tertiary-color: #cfd8dc;

		--outgoing-chat-color: #607d8b;
		--incoming-chat-color: var(--tertiary-color);
	}
	body, button, #chat-text {
		background-color: var(--tertiary-color);
	}
	.viewport {
		border-color: var(--secondary-color);
	}
	.header, .details, .chat-msg-tx .chat-bubble, .chat-msg-tx .chat-time {
		color: var(--tertiary-color);
	}
	.chat-msg-rx .chat-bubble, .chat-msg-rx .chat-time {
		color: var(--primary-color);
	}
	.conversation {
		color: var(--primary-color);
	}
}

