<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="icon" type="image/x-icon" href="../static/icons/double_arrow.svg">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<script src="../static/chat.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
	    <div class="header">
			PORTAL MESSENGER
			<!--<a href="/settings"><span class="icon icon-settings">&nbsp;</span></a>-->
		    <a href="/conversations"><span class="icon icon-list">&nbsp;</span></a>
		</div>
		<div class="details">
			<div class="presence-indicator presence-{{ chat_data['presence'] }}">&nbsp;</div>
			<div class="chat-name">{{ chat_data['username'] }}</div>
			<div class="last-heard">&nbsp;</div>
		</div>
		<div class="viewport">
            <div class="content chat-messages">

			{% for msg in chat_data['history'] %}

				<div id="{{ msg.id }}" class="chat-msg-{{ msg.type }}"><div class="chat-bubble">
					<div class="chat-msg">{{ msg.text }}</div>
					<div class="chat-time">{{ msg.time }}</div>
				</div></div>

			{% endfor %}

                <!-- hidden original for cloning -->
				<div class="original-hidden"><div class="chat-bubble">
					<div class="chat-msg">&nbsp;</div>
					<div class="chat-time">&nbsp;</div>
				</div><div class="chat-status">&nbsp;</div></div>

			</div>
		</div>
		<div class="footer">
			<form id="chat-text-form">
				<input type="text" id="chat-text" placeholder="Type a message here..." autofocus/>
				<button type="submit" id="chat-send-button">Send</button>
			</form>
		</div>

    </body>
	<script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        //socket.on('connect', function() {
        //    socket.emit('log', {msg: 'Connected to socket'});
        //});

        socket.on('msg', function( msg ) {
            newChatMessage(msg);
			scrollChat();
			setLastHeard(0);
        });

		socket.on('heard-user', function ( minutes ) {
			setLastHeard(minutes);
		});

		$('#chat-text-form').submit(function( event ){
			event.preventDefault();
			msg_text = $('#chat-text').val();
			$('#chat-text').val("");
			socket.emit('msg', {msg: msg_text})

		});

		$(window).on('load', function(){
			scrollChat();
			socket.emit('heard-user', {user: $('.chat-name').html()});
		});

		setInterval(function (){
			socket.emit('heard-user', {user: $('.chat-name').html()});
		}, 1000 * 60);
	</script>
</html>
