<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="icon" type="image/x-icon" href="../static/icons/double_arrow.svg">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<script src="../static/chat.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
	    <div class="header">
			PORTAL MESSENGER
			<!--<a href="/settings"><span class="icon icon-settings">&nbsp;</span></a>-->
		    <a href="/stations"><span class="icon icon-list">&nbsp;</span></a>
		</div>
		<div class="details chat-details">
			<div class="presence-indicator presence-unknown">&nbsp;</div>
			<div class="chat-name">{{ user }}</div>
			<div class="last-heard">&nbsp;</div>
		</div>
		<div class="viewport">
            <div class="content chat-messages">

                <!-- hidden original for cloning -->
				<div class="original-hidden"><div class="chat-bubble">
					<div class="chat-msg">&nbsp;</div>
					<div class="chat-time">&nbsp;</div>
				</div><div class="chat-status">&nbsp;</div></div>

			</div>
		</div>
		<div class="footer">
			<form id="chat-text-form">
				<input type="text" id="chat-text" placeholder="Type a message here..." autofocus/>
				<button type="submit" id="chat-send-button">Send</button>
			</form>
		</div>

    </body>
	<script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        //socket.on('connect', function() {
        //    socket.emit('log', {msg: 'Connected to socket'});
        //});

        socket.on('msg', function( msgs ) {
			msgs.forEach(function ( msg ) {
				newChatMessage(msg)
			});
			sortChat();
			scrollChat();

			//if ( msg.type == 'rx' ) {
			//	setLastHeard(msg.time);
			//}
        });

		socket.on('remove-tx-status', function ( id ) {
			removeTxStatus(id);
		});

		socket.on('heard-user', function ( last_heard ) {
			setLastHeard(last_heard);
		});

		$('#chat-text-form').submit(function( event ){
			event.preventDefault();
			socket.emit('msg', {user: $('.chat-name').html(), text: $('#chat-text').val()})
			$('#chat-text').val('');
		});

		$(window).on('load', function(){
			socket.emit('init-chat');
			socket.emit('heard-user', {user: $('.chat-name').html()});
		});

		setInterval(function (){
			//socket.emit('heard-user', {user: $('.chat-name').html()});
			setLastHeard( parseInt( $('.last-heard').attr('data-last-heard') ) );
		}, 1000 * 60);
	</script>
</html>
