<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css" />
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<script src="../static/chat.js"></script>
		<script>
		</script>
    </head>
    <body>
	    <div class="header">
			PORTAL MESSENGER
		    <a href="/settings"><span class="icon icon-settings">&nbsp;</span></a>
		    <a href="/conversations"><span class="icon icon-list">&nbsp;</span></a>
		</div>
		<div class="details">
			<div class="presence-indicator presence-unknown">&nbsp;</div>
			<div class="chat-name">&nbsp;</div>
			<div class="last-heard">&nbsp;</div>
		</div>
		<div class="viewport">
            <div class="content chat-messages">

                <!-- hidden original for cloning -->
				<div class="original-hidden"><div class="chat-bubble">
					<div class="chat-msg">&nbsp;</div>
					<div class="chat-time">&nbsp;</div>
				</div><div class="chat-status">&nbsp;</div></div>

			</div>
		</div>
		<div class="footer">
			<form id="chat-text-form">
				<input type="text" id="chat-text" placeholder="Type a message here..." autofocus/>
				<button type="button" id="chat-send-button">Send</button>
			</form>
		</div>

    </body>
	<script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('log', {msg: 'Connected to socket'});
            socket.emit('init chat');
        });

        socket.on('init chat', function(user_data) {
            initChat(user_data);
        });

        socket.on('rx msg', function(msg) {
            newChatMessage(msg);
        });
	</script>
</html>
