<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
    </head>
    <body>

	<span style='font-size: 30px;'>Portal</span>
	<span style='color: #ccc;font-size: 20px;'>&nbsp;&nbsp;&nbsp;&gt;&gt;&gt;&nbsp;&nbsp;&nbsp;get there from here</span>
    <div class="error">&nbsp;</div>
    <div class="messages"></div>

    <form action="" method="POST", class="login">
		<input type="text" class="username" value="{{ username }}"/>
		<button type="submit">Login</button>
    </form>

    <form action="" method="POST", class="chat">
		<input type="text" class="destination" placeholder="User"/><br/>
		<input type="text" class="message" placeholder="Type a message"/>
		<button type="submit">Send</button>
    </form>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type="text/javascript">

		$('form.chat').hide()
		$('.messages').hide()
        $('input.username').focus()

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('log', {msg : 'Connected to socket'})

        })
            
		$('form.login').on('submit', function(e) {
            e.preventDefault()
            let username = $('input.username').val()
            socket.emit('login', {username : username})
        })

		$('form.chat').on('submit', function(e) {
            e.preventDefault()
            let user = $('input.destination').val()
            let msg = $('input.message').val()
            socket.emit('tx msg', {user : user, msg : msg})
			$('.messages').append('<div class="ralign">' + msg + ' <b>' + user + '</b></div>')
        })

        socket.on('login attempt', function(result) {
			console.log(result)
			if (result.login == true) {
				$('form.login').remove()
				$('form.chat').show()
				$('.messages').show()
            	$('input.message').val('').focus()
			}
			else {
				$('.error').val(result.error)
			}
        })

        socket.on('rx msg', function(msg) {
			$('.messages').append('<div class="lalign"><b> ' + msg.from + '</b>' + msg.msg + '</div>')
		})

    </script>
	<style>
		.ralign {
			text-align: right;
			margin-left: auto;
			margin-right: 0;
		}
		.error {
			color: red;
		}
		.message {
			width: 25%;
		}
		.messages {
			width: 25%;
		}
	</style>
    </body>
</html>
