<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal Messenger</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="icon" type="image/x-icon" href="../static/icons/double_arrow.svg">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/socket.io.min.js"></script>
		<script src="../static/common.js"></script>
		<script src="../static/stations.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
	    <div class="header">
			PORTAL MESSENGER
		    <a href="/settings"><span class="icon icon-settings">&nbsp;</span></a>
		</div>
		<div class="details">
			<div class="details-name tab" id="tab-activity">Activity</div>
			<div class="details-name tab" id="tab-conversations">Conversations</div>
		</div>
		<div class="viewport">
			<div class="content">

				<!-- hidden element for cloning -->
				<div class="conversation original-hidden">
					<div class="presence-indicator presence-unknown">&nbsp;</div>
					<div class="chat-name">&nbsp;</div>
					<div class="last-heard">&nbsp;</div>
				</div>
			</div>

		</div>
		<div class="footer">&nbsp;</div>

    </body>
	<script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        //socket.on('connect', function() {
        //});

		socket.on('spot', function( data ) {
			data.forEach(function (station) {
				if ( findConversation(station.username).length == 0 ) {
					newConversation(station.username, station.last_heard, station.unread);
				}
				else {
					setLastHeard(station.username, station.last_heard);

					if ( station.unread ) {
						markUnread(station.username);
					}
					else {
						markRead(station.username);
					}
				}
			});
			findConversation('BKG14').addClass('spot');
			findConversation('A4GOULD').addClass('spot');
			sortConversations();
		});

		$(window).on('load', function(){
			$('#tab-activity').click(function(){
				$('.spot').show();
				$('#tab-conversations').removeClass('selected');
				$('#tab-activity').addClass('selected');
			});

			$('#tab-conversations').click(function(){
				$('.spot').hide();
				$('#tab-activity').removeClass('selected');
				$('#tab-conversations').addClass('selected');
			});

			$('#tab-activity').addClass('selected');
			socket.emit('spot');
		});

		setInterval(function() {
			//socket.emit('heard-list');
			$('.conversation').not('.original-hidden').each(function() {
				username = $(this).attr('name');
				timestamp = parseInt( $(this).find('.last-heard').attr('data-last-heard') );
				setLastHeard(username, timestamp);
			});

		}, 1000 * 60);

	</script>
</html>
