body {
	font-family: sans-serif;
	width: 30%;
	margin: 20px 0px 0px 20px;
}

.header {
	font-size: 25px;
	font-weight: bold;
	border: 1px solid #ddd;
	padding: 15px;
	text-align: center;
	background-color: #ddd;
	border-radius: 15px 15px 0px 0px;
	margin-top: 10px;
}

.chat-info {
	border: 1px solid #ddd;
	padding: 10px 15px 10px 15px;
	background-color: #ddd;
}

.presence-indicator {
	display: inline-block;
	background-color: green;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-top: 7px;
	margin: 0px 10px 0px 0px;
}

.chat-name {
	font-size: 20px;
	display: inline-block;
}

.last-heard {
	display: inline-block;
	font-size: 14px;
	float: right;
	padding-top: 6px;
}

.chat-box {
	height: 500px;
	border: 1px solid #ddd;
	overflow: scroll;
	position: relative;
}

.chat-messages {
	padding: 0px 10px 0px 10px;
	position: absolute;
	width: 96%;
	bottom: 10px;
}

.chat-msg-in {
	width: fit-content;
	max-width: 75%;
	clear: both;
}

.chat-msg-out {
	width: fit-content;
	max-width: 75%;
	float: right;
}

.chat-msg {
	font-size: 18px;
	padding: 10px 15px 0px 15px;
	background-color: lightblue;
	border-radius: 15px 15px 0px 0px;
	margin: 20px 10px 0px 10px;
	text-align: justify;
	text-justify: inter-word;
}

.chat-time {
	font-size: 14px;
	padding: 2px 15px 10px 15px;
	background-color: lightblue;
	border-radius: 0px 0px 15px 15px;
	margin: 0px 10px 0px 10px;
}

.chat-msg-out .chat-time {
	text-align: right;
}

.chat-status {
	font-size: 14px;
	text-align: right;
	margin-right: 20px;
	color: #777;

}

.chat-input {
	border: 1px solid #ddd;
	padding: 25px;
	background-color: #ddd;
	border-radius: 0px 0px 15px 15px;
}

#chat-text {
	width: 84%;
	padding: 5px;
	font-size: 18px;
}

#chat-send-button {
	padding: 5px;
	margin-left: 5px;
	font-size: 18px;
}









. {
	
}
